<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServerType" value="MySql"/>
    
  </appSettings>
  <connectionStrings>
    <!-- FILL IN THE NECCESSARY -->
    <add name="MsSqlServer" connectionString="Data Source=RJ-THINK\SQLEXPRESS2012;Initial Catalog=webmin;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <remove name="MySqlServer"/>
    <add name="MySqlServer" connectionString="Server=85.248.220.75;Uid=dotnet;Pwd=dotnet;Database=webmin;pooling=true;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
<globalization
  fileEncoding="utf-8"
  requestEncoding="utf-8"
  responseEncoding="utf-8"
    />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <!-- INITIAL SETTING -->
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear />
        <add connectionStringName="MsSqlServer" enablePasswordRetrieval="false"
          enablePasswordReset="true" requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
          applicationName="/" name="MsSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
        <add autogenerateschema="true" connectionStringName="MySqlServer"
          enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true"
          applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"
          passwordStrengthRegularExpression="" name="MySqlMembershipProvider"
          type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MsSqlServer" applicationName="/"/>
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="MySqlServer" applicationName="/"/>
      </providers>
    </profile>
    <!-- INITIAL SETTING -->
    <roleManager enabled="true" defaultProvider="MySqlRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="MySqlServer" applicationName="/" name="MySQLRoleProvider"
          type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        <add connectionStringName="MsSqlServer" applicationName="/" name="MsSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <!-- because of M2N...(?) -->
    <pages validateRequest="false">
      <controls>
      </controls>
    </pages>
    <!--this must stay so that html tags can be included in editor fields-->
    <httpRuntime requestValidationMode="2.0"/>
    <sessionState mode="InProc" timeout="120" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>